@import "./fonts.css";
@import "./normalize.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}
